
aiohttp==3.11.10
aiosignal==1.3.1
asyncio
attrs==24.2.0
backoff==2.2.1
base58==2.1.1
discord.py
frozenlist==1.5.0
GitPython==3.1.43
Jinja2==3.1.4
numpy==1.26.4
openai==1.57.0
pandas
playwright==1.47.0
praw
pydantic==2.10.3
python-dotenv==1.0.1
requests==2.32.3
tqdm==4.67.1
typing_extensions==4.12.2
yarl==1.18.3
regex==2024.11.6
requests==2.32.3
requests-oauthlib==1.3.1
solana
solders
supabase
ta==0.11.0
tweepy==4.14.0
tiktoken==0.8.0
tokenizers==0.19.1
schedule==1.2.2
google-genai==1.11.0